@model GloveYourself.Models.Glove.GloveDetail

@{
    ViewData["Title"] = "Edit Glove";
    var id = Model.GloveId;
}

<h3>Details for @Html.DisplayFor(model => model.Title)</h3>

<hr />

@*<div class="form-group">
    <a class="btn btn-success" href="glove/edit/@id"> Edit</a>
</div>
<br />*@

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GloveId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GloveId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GloveId }) |
    @Html.ActionLink("Back to List", "Index")
</div>
